.App {  
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 0;
  justify-content: space-between;
  background-color: #f0e7e4;
  background-image: url(./img/backgroundImg.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.bodyWrapper{
  height: 76vh;
}

.contentText {
  height: 50vh;
  width: 100vh;
}

.SignUpContainer {
  display: flex;
  height: 76vh;
  width: 30%;
  color:white;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.SignInContainer{
  display: flex;
  height: 76vh;
  width: 30%;
  color:white;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.SignUpLogo {
  padding-bottom: 20px;
  font-size: 24px;
}

.SignInLogo {
  padding-bottom: 20px;
  font-size: 24px;
}

.mypageContainer {
  height: 76vh;
  display: flex;
  justify-content: center;
}

button {
  border: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  margin: 5px;
  font-family: 'Gugi', cursive;
}

.infoContainer {
  width: 20%;
  height: 50;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.226); */
}

.articleListContainer {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.226);
}

.middleWrapper {
  display: flex;
  justify-content: space-around;
}

.musicWrapper{
  display: flex;
  justify-content: space-around;
}

body {
  font-family: 'Gugi', cursive;
}

.mainMusic {
  /* background-color: rgba(255, 255, 255, 0.151); */
  width: 25%;
  margin-top: 25vh;
  color: white;
}

.TopNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #000000a4;
  color: rgb(255, 255, 255);
}

.footerBar {
  background: #00000098;
  color: rgb(255, 255, 255);
  padding-bottom: 20px ;
}

.TopNavigation_logo {
  font-size: 25px;
  padding-left: 25px;
}

.modalBackround {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  height: 300px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff; 
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  width: 430px;
  font-size: 25px;
}

.madalText {
  height: 80px;
  padding-top: 60px;
}

.modalInputWrap {
  height: 100px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.TopNavigation_manu {
  display: flex;
  list-style: none;
  padding: 0;
}

.TopNavigation_manu li {
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.HashWrap{
  margin-top: 24px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.6px;
  padding: 2px 2px 8px 2px;
  width: 50%;
}
  .HashWrapOuter {
    display: flex;
    flex-wrap: wrap;
  }

  .HashWrapInner {
    margin-top: 1px;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 56px;
    padding: 4px 8px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    margin-right: 5px;
    cursor: pointer;
  }

  .HashInput {
    width: auto;
    margin: 10px;
    display: inline-flex;
    outline: none;
    cursor: text;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    min-width: 8rem;
    border: none;
  }
